* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-registration {
    width: 700px;
    height: 700px;
    background-color: white;
    border: 1px solid gray;
}
.form-registration h2 {
    font-size: 50px;
    padding-top: 25%;
}
form {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 15%;
    width: 70%;
    height: 20%;
    gap: 20px;
}
form input {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
button {
    width: 70%;
    height: 10%;
    border-radius: 20px;
    background-color: deepskyblue;
    border: none;
    margin-top: 15px;
    color: white;
    font-size: 25px;
}
 .link1::before {
     content: '';
     display: inline-block;
     width: 12px;
     height: 12px;
     margin-right: 8px;
    background-image: url('facebook_img.png');
     background-size: contain;
}
span {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    color: black;
}
.link1  {
    margin-top: 30px;
    padding: 20px;
    font-weight: bold;
}
.form-registration p {
   width: 656px;
    border: 1px solid gray;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}
.p a {
  color: darkblue;
  font-size: 20px;
}